@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .test-border {
        @apply border-0 border-solid border-white;
    }

    html {
        @apply h-full text-sm font-inter;
    }

    body {
        @apply min-h-full bg-no-repeat bg-cover bg-center bg-fixed
        bg-[url("./assets/images/bg-medium/bg-evening-clear.jpg")] font-mono;
    }

    .overlay {
        @apply absolute inset-0 bg-[hsla(0,0%,85%,0.3)] -z-20 dark:bg-[hsla(0,0%,7%,0.6)];
        /* @apply absolute inset-0 bg-[hsla(0,0%,7%,0.8)] -z-20; */
    }

    header {
        @apply prose-config h-20 flex justify-between items-center;
    }

    .prose-config {
        @apply prose lg:prose-xl dark:prose-invert max-w-none
          prose-headings:m-0 prose-headings:font-medium prose-headings:p-2 prose-headings:text-black dark:prose-headings:text-white
          prose-h1:text-9xl
          prose-h3:font-semibold
          prose-p:text-lg text-black dark:text-white;
    }

    .main--sub-section {
        @apply flex flex-col justify-between items-center p-4 px-14;
    }

    .min-max-container {
        @apply flex items-center mx-1 opacity-90;
    }

    .min-max-temperature {
        @apply m-0 p-0;
    }

    .min-max-unit-text {
        @apply text-base font-bold;
    }

    .other-data-container {
        @apply flex justify-center items-center w-full my-4 p-2 opacity-70 scale-[70%]
        transition-[transform_opacity] duration-300 ease-in;
    }

    .other-data-container--active {
        @apply opacity-100 scale-100;
    }

    .other-data-icon {
        @apply h-6 w-6 px-4;
    }

    .other-data-text {
        @apply grow m-0 ml-2 text-2xl font-normal;
    }

    .svg-filter-black {
        filter: invert(0%) sepia(7%) saturate(7447%) hue-rotate(279deg) brightness(113%)
            contrast(100%);
    }

    .svg-filter-white {
        filter: invert(100%) sepia(73%) saturate(110%) hue-rotate(40deg) brightness(109%)
            contrast(101%);
    }
}
