@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-image: "./assets/images/bg-medium/bg-evening-clear.jpg";
}

@layer components {
    #root {
        @apply relative min-h-screen;
    }

    .test-border {
        @apply border-0 border-solid border-white;
    }

    html {
        @apply h-full text-xs font-inter breakpoint:text-sm;
    }

    body {
        /* @apply min-h-full bg-no-repeat bg-cover bg-center bg-fixed bg-[url("./assets/images/bg-medium/var(--bg-image).jpg")] font-mono; */
        /* @apply min-h-full bg-no-repeat bg-cover bg-center bg-fixed bg-[image:var(--bg-image)] font-mono; */

        @apply min-h-full bg-no-repeat bg-cover bg-center bg-fixed font-inter;
    }

    .prose-config {
        @apply prose breakpoint:prose-xl dark:prose-invert max-w-none
          prose-headings:m-0 prose-headings:font-medium prose-headings:p-1 prose-headings:text-black breakpoint:prose-headings:p-2 dark:prose-headings:text-white
          prose-h1:text-6xl breakpoint:prose-h1:text-9xl
          prose-h3:text-base prose-h3:font-semibold breakpoint:prose-h3:text-xl
        prose-p:text-black dark:prose-p:text-white prose-p:text-base breakpoint:prose-p:text-lg;
    }

    .main--sub-section {
        @apply flex flex-col justify-center items-center mt-8 breakpoint:px-14 breakpoint:m-0 test-border;
    }

    .sub-section--other-data {
        @apply mt-10 flex-row col-span-2 breakpoint:flex-col breakpoint:mt-0;
    }

    .min-max-container {
        @apply flex items-center mx-1.5 opacity-90 breakpoint:mx-10;
    }

    .min-max-temperature {
        @apply m-0 p-0;
    }

    .min-max-unit-text {
        @apply text-sm font-semibold;
    }

    .other-data-container {
        @apply flex justify-center items-center w-full mt-0 p-2 opacity-70 scale-90 test-border
        transition-[transform_opacity] duration-300 ease-in breakpoint:my-2 breakpoint:scale-[70%];
    }

    .other-data-container--active {
        @apply opacity-100 scale-100;
    }

    .other-data-icon {
        @apply h-6 w-6 breakpoint:px-4;
    }

    .other-data-text {
        @apply grow-0 m-0 ml-2 text-sm font-normal text-center breakpoint:grow breakpoint:text-2xl breakpoint:text-left;
    }

    .svg-filter-black {
        filter: invert(0%) sepia(7%) saturate(7447%) hue-rotate(279deg) brightness(113%)
            contrast(100%);
    }

    .svg-filter-white {
        filter: invert(100%) sepia(73%) saturate(110%) hue-rotate(40deg) brightness(109%)
            contrast(101%);
    }

    /* Scrollbar stying */
    ::-webkit-scrollbar {
        @apply h-2;
    }

    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-black/70 rounded-lg dark:bg-white/70;
    }

    .error-modal {
        @apply w-full mt-36 rounded bg-slate-50 shadow-xl dark:bg-slate-700 z-20 breakpoint:mt-24 breakpoint:w-1/2 breakpoint:m-0;
    }
}
